# Core data processing and analysis
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0

# Machine Learning
scikit-learn>=1.3.0
tensorflow>=2.13.0
joblib>=1.3.0

# Data Storage and Processing
pyarrow>=14.0.1

# Visualization
matplotlib>=3.7.0
seaborn>=0.12.0

# HTTP Requests
requests>=2.31.0

# Solar PV Modeling
pvlib>=0.10.0
NREL-PySAM

# Save and load compressed data
python-snappy>=0.6.1  # Required for parquet compression

tensorflow[and-cuda]>=2.13.0  # For GPU acceleration

optuna # For hyperparameter optimization
optuna-integration[tfkeras]

